# --- 1. Dados experimentais usados para treinamento, teste e validação ---
data/processed_data/**
data/raw_data/**


# --- 3. Resultados do Modelo (Pesos e Checkpoints) ---
# Ignora todos os arquivos gerados em results, mas mantém a pasta vazia por meio de .gitkeep
results/**
!results/.gitkeep

# --- 4. Logs e Arquivos de Sistema ---
# Ignora logs de experimentos e do próprio Python
*.log
**/B*_log.pdf
__pycache__/
.DS_Store
Thumbs.db

# --- 5. Ambiente de Desenvolvimento e Notebooks ---
.venv/
env/
venv/
.ipynb_checkpoints/
.vscode/
.idea/

# --- 6. Exceções (manter vazias) ---
!**/data/processed_data/.gitkeep
!**/data/raw_data/.gitkeep
